<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주택상세정보 값 받기</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<h1>주택상세정보 값 받기</h1>
<p th:if="${radio1 == 'bank1'}">구입자금</p>
<p th:if="${radio1 == 'bank2'}">생활자금</p>
<p th:if="${radio1 == 'bank3'}">대환자금</p>
<p th:if="${radio1 == 'bank4'}">전세보증금반환</p>
<hr/>
<p th:if="${radio2 == 'bank5'}">생에최초구입</p>
<p th:if="${radio2 == 'bank6'}">구입경험있음</p>
</body>
</html>
